<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">Proyecto final: tercer entrega</h1>
        <p class="lead">En contrucción...</p>
        <hr class="my-4">
        <p>Un menú de registro y autenticación de usuarios basado en passport local,
            guardando en la base de datos las credenciales y el resto de los datos ingresados al momento del
            registro.
        </p>
        
    </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>